// install the following packages:
// yarn add --dev eslint prettier eslint-config-airbnb@^15.0.1 eslint-config-prettier eslint-plugin-prettier eslint-plugin-react eslint-plugin-import eslint-plugin-jsx-a11y@^5.1.1

{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": [1, { "allow": ["_id"] }],
    "no-unused-vars": [1],
    "react/no-unused-state": [1],
    "no-return-assign": [1],
    "react/no-array-index-key": [1],
    "jsx-a11y/label-has-for": [1],
    "no-nested-ternary": [0],
    "react/prefer-stateless-function": [0],
    "react/prop-types": [0],
    "jsx-a11y": [0],
    "no-unused-expressions": [0]
  }
}
