@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  font-family: "Roboto", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background: white;
  line-height: 1;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
}

blockquote,
q {
  quotes: none;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus textarea:focus {
  font-size: 16px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }

  select,
  textarea,
  input {
    font-size: 16px;
  }
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}

form div div button {
  line-height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  background: #fff;
  border: 1px solid #eee;
  color: #6cbb23;
  margin-top: 1em;
}

button.primary-btn.white-bg {
  float: right;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fade-enter {
  width: 0px;
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  width: 100vw;
  opacity: 1;
  transition: all 300ms ease;
}

.textH1 {
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #ddd;
  outline: 0;
  padding: 8px 6px;
  margin-bottom: 1rem;
}

.textH1text {
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  width: 100%;
}

.textPItalic {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5px;
}

.navRootDesktop {
  width: 100vw;
}

.navRootMobi {
  width: 100%;
}

.navRootMobi2 {
  width: 100%;
  height: 55vw;
  background-color: white;
}

.container {
  position: relative;
}

.fade {
  display: none;
}

.container #myForm {
  position: relative;
  top: 40vh;
}

.single-contact h2 {
  color: white;
  font-size: 24px;
  font-weight: 200;
}

.single-contact p {
  color: white;
}

.single-contact h2 span {
  font-weight: 600;
}

.col-lg-5 {
  margin-bottom: 1em;
}

.col-lg-5 label {
  float: left;
}

.col-lg-10 label {
  float: left;
}

.justify-content-center {
  text-align: center;
}

.container .justify-content-center {
  position: absolute;
  top: 9vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 60vw;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.contact-area {
  background-color: #a6d477;
  color: #fff;
}

.contact-area .overlay-bg {
  background: rgba(108, 187, 35, 0.85);
}

.contact-area h2 {
  font-size: 36px;
  font-weight: 100;
}

.contact-area h2 span {
  font-weight: 600;
}

.contact-area p {
  font-size: 14px;
  font-weight: 300;
}

.contact-form ::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
}

.contact-form ::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 300;
}

.contact-form ::-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}

.contact-form :-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 300;
}

.contact-form :-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}

.contact-form .alert-msg {
  color: #fff !important;
  margin-top: 50px;
  z-index: 1;
}

.common-input {
  border: 1px solid #a6d477;
  line-height: 48px;
  width: 100%;
  display: block;
  background: transparent;
  padding: 0 25px;
  color: #fff;
}

.common-textarea {
  border: 1px solid #a6d477;
  width: 100%;
  display: block;
  background: transparent;
  padding: 15px 25px;
  color: #fff;
  height: 150px;
  resize: none;
}

.col-lg-3 {
  padding-left: 15px;
}

.single-footer-widget h6 {
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase !important;
  line-height: 1.5em;
}

.footer-bottom p a {
  color: #f7a930;
}

.container .footer-nav li a {
  color: #777;
  outline: 0;
}

.single-footer-widget {
  color: #777;
}

.row.pt-60 {
  padding-top: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .row.pt-60 {
    padding-top: 3em;
  }
}

.col-sm-6 {
  flex: 1;
}

.footer-bottom {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
}

.footer-bottom p span {
  color: #f7a930;
}

.imgContainerContent3 {
  float: right;
  margin-right: 10vw;
  padding: 1vh;
}

.imgContainerContent2 {
  float: left;
  margin-left: 10vw;
}

.Link {
  color: white;
}

.UserFroodiniLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(0, 200, 200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

.hide {
  display: none;
}

.NavBar_rootDesktop {
  flex-grow: 1;
}

.NavBar_root {
  flex-grow: 1;
}

.containerTranButton {
  position: absolute;
  top: 4vw;
  right: 8vw;
  z-index: 10;
}

.TranButton {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: white;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.chooseDE {
  border-bottom: 2px solid white;
}

.square {
  border-radius: 50%;
}

.imagelandscape {
  width: auto;
  height: 100%;
}

.inputAvata {
  z-index: 1;
  height: 30vw;
  width: 30vw;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 4px 0 #0000004d;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  cursor: pointer;
  overflow: hidden;
  max-width: 180px;
  max-height: 180px;
  min-width: 150px;
  min-height: 150px;
}

.buttonSelectionPage {
  width: 91.6vw;
  color: #a69c9c;
  cursor: pointer;
  border: none;
  height: 60px;
  display: block;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  background-color: #ebebeb;
}

.buttonBring {
  background-color: #545454;
  color: #fff;
}

.hrBring {
  width: 6.5vw;
  border-color: #3d3d42;
  border-width: 1px 0 0 0;
  margin-top: 33px;
  margin-bottom: 33px;
}

.DialogTogglo div:last-child {
}

input[type="radio"] {
  display: none;
}

label input[type="radio"] {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

label input[type="radio"] + span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #acc95b;
  border-radius: 50%;
}

label input[type="radio"]:checked + span {
  background-color: #acc95b;
  border-radius: 50%;
}

@media (max-width: 960px) {
  .NavBar_rootDesktop {
    display: none;
  }
}

@media (max-width: 500px) {
  form .row.justify-content-center {
    left: 44vw;
  }

  .imgHero {
    height: 200px;
  }

  .imgContainerContent2 img {
    height: 400px;
  }

  .imgContainerContent3 img {
    height: 300px;
    padding-top: 15vh;
  }
}

@media (min-width: 960px) {
  .NavBar_root {
    display: none;
  }
}
